
.scrollButton{
    /* box-sizing: border-box; */
    background-color:#191414;
    font-size: 0.7rem;
    padding: 0.5rem 1rem; 
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    border-radius: 999px;
   

}

.scrollButton:hover{
   border-color: white;

}
  


  
  
  
